[Unit]
Description=home_remote

[Service]
Type=simple
WorkingDirectory=[PATH to home_remote directory]
ExecStart=/usr/bin/python3 [PATH to home_remote directory]/main.py

[Install]
WantedBy=multi-user.target
